<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://pg.rapidapp.io:5432/db_de9e11c8_c645_4fa6_98aa_bb09a7be77e5?application_name=rapidapp_nodejs</property>
        <property name="hibernate.connection.username">u_de9e11c8_c645_4fa6_98aa_bb09a7be77e5</property>
        <property name="hibernate.connection.password">9mWlF6txjDD2447nw762l9fU1L6ffL83B4acB4m2Yf5h2ZnoM4HW</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example.Rectangle"/>
        <mapping class="org.example.Triangle"/>
    </session-factory>
</hibernate-configuration>